@charset "utf-8";
/* CSS Document */

@media (max-width:768px){
.skin-blue .main-header .navbar {
background-color: #3e454c;
border-top:1px solid #ccc;
}

.img_btn .btn-default {
    border: 1px solid #333;
    color: #333;
    background: #ccc;
    padding: 4px;
    font-size: 13px;
    width: 100%;
}

.meta {
    margin-top: 16px;
    text-align: center;
}

.ui_button {
    margin: 10px;
    text-align: center;
}

}
